#header {
    width: 100%;
}

#scoreboard {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#moves {
    width:12%;
}

#moves-counter {
    width: 100px;
    height: 25px;
    background-color: orange;
}

#rating {
    background-color: rgb(230, 237, 18);
    width: 150px;
    display: inline-flex;
}

.checked {
    color: rgba(238, 174, 24, 0.78);
}

#time {
    width: 50%;
}

.btn {
    display: inline-block;
    background-color: rgb(209, 87, 181);
    font-size: 20px;
    cursor: pointer;
    width:80px;
    height: 30px;
}

.btn:hover {
    background-color: rgb(201, 7, 204);
}

#game-board {
    background-color: blue;
    /*display: grid;
    grid-template-columns: 10px 50px 50px 50px 50px 10px;
    grid-template-rows: 10px 50px 50px 50px 50px 10px;*/
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 45vw;
    perspective: 1000px;
    position: relative;
    padding: 20px;
    flex-direction: row;
}

.card-close {
    background-color: red;
    width: 200px;
    height: 150px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    backface-visibility: hidden;
}

.card-open{
    background-color: yellow;
    width: 200px;
    height: 150px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.flip {
    position: relative;
    top:42%;

}

.card-closer {
	transform: rotateY(360deg);
    transition-duration: 0.4s;
	transform-style: preserve-3d;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.matched {
    transform: rotateX(360deg);
    transition-duration: 1.2s;
    transform-style: preserve-3d;
}

#winner {
    position: fixed;
    width:30%;
    height: 30%;
    margin: auto;
    z-index: 3;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
    animation-name: animatetop;
    animation-duration: 0.4s
    top:300px;
    left: 300px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 300px; opacity: 1}
}

#winner-message {
    width: 100%;
}
.modal-close {
    float: right;
    font-size: 30px;
    color: rgb(68, 10, 74);
    width: 80%;
    height: 80%;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
