body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("black-and-white-262488.jpg");
  background-size: contain;
  margin: 0px;
}

h1 {
  margin-bottom: 0px;
}

#header {
    width: 100%;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: rgb(10, 195, 93);
    text-shadow: 2px 2px rgb(1, 139, 16);
}
/* scoreboard */
#scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-self: center;
    justify-content: space-around;
}

#spinThumbs {
  position: fixed;
  color: rgb(11, 7, 176);
  margin-left: 10%;
}

/*#thumbsup {
  z-index: 3;
  animation: animateright 1.5s linear;
  height: 100px;
  color: rgb(11, 7, 176);
}*/

/*@keyframes animateright {
  from {transform: translateX(0px); opacity: 0}
  to {transform: translateX(100vw); opacity: 1}
}*/

@keyframes spin {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(180deg);}
}

#moves {
    width:80px;
    margin-left: 20%;
}

#rating {
    width: 50px;
    display: inline-flex;
    margin: 15px 25px 15px 15px;
}

.checked {
    color: rgba(238, 174, 24, 0.78);
}

#time {
    width: 40px;
    margin: 15px 25px 15px 15px;
    color: rgb(240, 11, 86);
}

#reset {
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    margin-right: 20%;
    color: rgb(155, 158, 30);
}

#reset:hover {
    color: rgb(201, 7, 204);
}
/* gameboard */
#game-board {
    background-color: rgb(27, 210, 126);
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40vw;
    perspective: 1000px;
    position: relative;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.card-close {
    background-color: rgb(18, 219, 141);
    width: 19%;
    height: 19%;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    backface-visibility: hidden;
    box-shadow: 5px 5px rgba(48, 72, 128, 0.77);
    border: 2px solid rgb(11, 157, 39);
}

.card-open{
    background-color: yellow;
    width: 19%;
    height: 19%;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(48, 72, 128, 0.77);
    border: 2px solid rgb(11, 157, 39);
}

.flip {
    position: relative;
    top:41%;
    height: 30px;
}

.card-closer {
	transform: rotateY(360deg);
  transition-duration: 0.4s;
	transform-style: preserve-3d;
}

@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.matched {
    transform: rotateZ(360deg);
    transition-duration: 1.2s;
    transform-style: preserve-3d;
}

#modal {
    position: fixed;
    width: 100%;
    height: 90%;
    margin: auto;
    z-index: 2;
    padding-top: 100px;
    background: rgba(0,0,0,0.4);
    animation-name: animatetop;
    animation-duration: 0.8s;
    top:4%;
    padding-left: 10px;
}

@keyframes animatetop {
    from {top: -10%; opacity: 0}
    to {top: 4%; opacity: 1}
}

#winner-message {
    width: 95%;
    height: auto;
    top: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    background: white;
    position: relative;
    align-items: center;
}

#win1 {
  width: 100%;
  margin-top: 30px;
  padding: 0px 0px 10px 10px;
}

button {
  width: 50px;
}

.modal-close {
    float: right;
    font-size: 30px;
    color: rgb(22, 74, 10);
    width: 5%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
