#game-board {
    background-color: blue;
    /*display: grid;
    grid-template-columns: 10px 50px 50px 50px 50px 10px;
    grid-template-rows: 10px 50px 50px 50px 50px 10px;*/
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 45vw;
    perspective: 1000px;
    position: relative;
}

.card-close {
    background-color: red;
    width: 200px;
    height: 150px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    backface-visibility: hidden;
}

.card-open{
    background-color: yellow;
    width: 200px;
    height: 150px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

.flip {
    position: relative;
    top: 42%;
}

.card-closer {
	transform: rotateY(360deg);
    transition-duration: 0.4s;
	transform-style: preserve-3d;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.matched {
    transform: rotateX(360deg);
    transition-duration: 1.2s;
    transform-style: preserve-3d;
}

#moves-counter {
    width: 100px;
    height: 25px;
    background-color: orange;
}

#winner {
    display: none;
    position: fixed;
    width:80%;
    height: 50%;
    margin: auto;
    z-index: 3;
    padding-top: 100px;
    background-color: rgba(0,0,0,0.4);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-close {
    float: right;
    font-size: 30px;
    color: rgb(68, 10, 74);
    width: 80%;
    height: 80%;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
